<%- include header %><!-- Content Wrapper. Contains page content -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <%= title %>
            </h1>
        </section>
        <!-- Main content -->
        <section class="content container-fluid">
            <div class="timerIds" style="display: flex;
            justify-content: space-between;">
                <div>
                    <h3>CountDown</h3>
                    <span id="countdown"></span>
                </div>
                <!-- <div>
                    <p>TimerId:</p>
                    <input type="text" value="12312312" readonly style="background-color: gainsboro;
            border: none;">
                </div> -->
                <div>
                    <span> <input type="checkbox" id="manualCheckbox" value="Manual">Manual</span>
                    <span> <input type="checkbox" id="automaticCheckbox" value="Automatic">Automatic</span>
                    
                </div>
            </div>

<input type="hidden" value="<%= data.profitPercent%> " id="gamePercent">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-body table-responsive">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Spot</th>
                                        <th>Bet Amount</th>
                                        <th>Number Of User</th>
                                        <th>Payable Amount</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="gradeX">
                                        <td>
                                            Ace
                                        </td>
                                        <td>
                                            <p id="aceBet">0</p>
                                        </td>
                                        <td>
                                            <p id="aceUser">0</p>
                                        </td>
                                        <td>
                                            <p id="acePayable">0</p>
                                        </td>
                                        <td>
                                            <input type="radio" name="spot" value="0">
                                        </td>
                                    </tr>
                                    <tr class="gradeX">
                                        <td>
                                            King
                                        </td>
                                        <td>
                                            <p  id="KingBet">0</p>
                                        </td>
                                        <td>
                                            <p id="KingUser">0</p>
                                        </td>
                                        <td>
                                            <p id="kingPayable">0</p>
                                        </td>
                                        <td>
                                            <input type="radio" name="spot" value="1">
                                        </td>
                                    </tr>
                                    <tr class="gradeX">
                                        <td>
                                            Queen
                                        </td>
                                        <td>
                                            <p  id="QueenBet">0</p>
                                        </td>
                                        <td>
                                            <p  id="QueenUser">0</p>
                                        </td>
                                        <td>
                                            <p id="queenPayable">0</p>
                                        </td>
                                        <td>
                                            <input type="radio" name="spot" value="2">
                                        </td>
                                    </tr>
                                    <tr class="gradeX">
                                        <td>
                                            Jake
                                        </td>
                                        <td>
                                            <p  id="JakeBet">0</p>
                                        </td>
                                        <td>
                                            <p  id="JakeUser">0</p>
                                        </td>
                                        <td>
                                            <p id="jakePayable">0</p>
                                        </td>
                                        <td>
                                            <input type="radio" name="spot" value="3">
                                        </td>
                                    </tr>
                                    <tr class="gradeX">
                                        <td>
                                            10
                                        </td>
                                        <td>
                                            <p  id="10Bet">0</p>
                                        </td>
                                        <td>
                                            <p  id="10User">0</p>
                                        </td>
                                        <td>
                                            <p id="10Payable">0</p>
                                        </td>
                                        <td>
                                            <input type="radio" name="spot" value="4">
                                        </td>
                                    </tr>
                                    <td>
                                        <button type="button" class="btn btn-success" onclick="saveSettings()">
                                            Submit
                                        </button>
                                    </td>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper --><%- include footer %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script>
       document.addEventListener("DOMContentLoaded", function () {
        const socket = io('http://localhost:3070');
        let gamePercent = document.getElementById("gamePercent").value;
        console.log(gamePercent);
        socket.emit("livebets", { hii: "hii" });
        socket.emit("adminspot", { adminspot: 2 });


            socket.on('livebets', function (data) {
    const gamePercent = parseFloat(document.getElementById("gamePercent").value);
// console.log(1 + gamePercent / 100);
    document.getElementById('aceBet').innerHTML = data.SpotZeroAmt;
    document.getElementById('aceUser').innerHTML = data.SpotZeroUser;
    document.getElementById('acePayable').innerHTML = parseFloat(data.SpotZeroAmt) * (1 + gamePercent / 100);

    document.getElementById('KingBet').innerHTML = data.SpotOneUser;
    document.getElementById('KingUser').innerHTML = data.SpotOneAmt;
    document.getElementById('kingPayable').innerHTML = parseFloat(data.SpotOneAmt) * (1 + gamePercent / 100);

    document.getElementById('QueenBet').innerHTML = data.SpotTwoAmt;
    document.getElementById('QueenUser').innerHTML = data.SpotTwoUser;
    document.getElementById('queenPayable').innerHTML = parseFloat(data.SpotTwoAmt) * (1 + gamePercent / 100);

    document.getElementById('JakeBet').innerHTML = data.SpotThreeAmt;
    document.getElementById('JakeUser').innerHTML = data.SpotThreeUser;
    document.getElementById('jakePayable').innerHTML = parseFloat(data.SpotThreeAmt) * (1 + gamePercent / 100);

    document.getElementById('10Bet').innerHTML = data.SpotFourAmt;
    document.getElementById('10User').innerHTML = data.SpotFourUser;
    document.getElementById('10Payable').innerHTML = parseFloat(data.SpotFourAmt) * (1 + gamePercent / 100);

    console.log('Received response from socket server:', data);
    const timerInSeconds = data.changespottime; 
    const countdownDisplay = document.querySelector('#countdown');

    startCountdown(timerInSeconds, countdownDisplay);
});
document.getElementById('manualCheckbox').addEventListener('change', function() {
        if (this.checked) {
            document.getElementById('automaticCheckbox').checked = false;
        }
    });

    document.getElementById('automaticCheckbox').addEventListener('change', function() {
        if (this.checked) {
            document.getElementById('manualCheckbox').checked = false;
        }
    });
        });

        function startCountdown(durationInSeconds, display) {
    let timer = durationInSeconds;
    
    const countdownInterval = setInterval(function () {
        const minutes = Math.floor(timer / 60);
        const seconds = timer % 60;

        const displayMinutes = String(minutes).padStart(2, '0');
        const displaySeconds = String(seconds).padStart(2, '0');

        display.textContent = displayMinutes + ':' + displaySeconds;

        if (timer <= 0) {
            clearInterval(countdownInterval);
        } else {
            timer--;
        }
    }, 1000);
}


    </script>
    <script>
function saveSettings() {
    const checkboxes = document.querySelectorAll('input[type="radio"]:checked');
    const manualCheckbox = document.getElementById('manualCheckbox');
    const automaticCheckbox = document.getElementById('automaticCheckbox');
    console.log(manualCheckbox.checked);
    let  selectedSpot; 
    const socket = io('http://localhost:3070');
    
    if (manualCheckbox.checked) {
        selectedSpot = Number(checkboxes[0].value);
    }else if(automaticCheckbox.checked){
        selectedSpot=undefined
    }
    
    socket.emit("adminspot", { adminspot: selectedSpot });

    console.log('Selected spot value:', selectedSpot);
}

    </script>

    
        
    
