<%- include header %><!-- Content Wrapper. Contains page content -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <%= title %>
            </h1>
        </section>
        <!-- Main content -->
        <section class="content container-fluid">
            <div class="timerIds" style="display: flex;
            justify-content: space-between;">
                <div>
                    <h3>CountDown</h3>
                </div>
                <!-- <div>
                    <p>TimerId:</p>
                    <input type="text" value="12312312" readonly style="background-color: gainsboro;
            border: none;">
                </div> -->
                <div>
                    <span> <input type="checkbox" value="Manual">Manual</span>
                    <span> <input type="checkbox" value="Manual">Automatic</span>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-body table-responsive">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Spot</th>
                                        <th>Bet Amount</th>
                                        <th>Number Of User</th>
                                        <th>Payable Amount</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="gradeX">
                                        <td>
                                            Ace
                                        </td>
                                        <td>
                                            <p id="aceBet">0</p>
                                        </td>
                                        <td>
                                            <p id="aceUser">0</p>
                                        </td>
                                        <td>
                                            <p>0</p>
                                        </td>
                                        <td>
                                            <input type="checkbox">
                                        </td>
                                    </tr>
                                    <tr class="gradeX">
                                        <td>
                                            King
                                        </td>
                                        <td>
                                            <p  id="KingBet">0</p>
                                        </td>
                                        <td>
                                            <p id="KingUser">0</p>
                                        </td>
                                        <td>
                                            <p>0</p>
                                        </td>
                                        <td>
                                            <input type="checkbox">
                                        </td>
                                    </tr>
                                    <tr class="gradeX">
                                        <td>
                                            Queen
                                        </td>
                                        <td>
                                            <p  id="QueenBet">0</p>
                                        </td>
                                        <td>
                                            <p  id="QueenUser">0</p>
                                        </td>
                                        <td>
                                            <p>0</p>
                                        </td>
                                        <td>
                                            <input type="checkbox">
                                        </td>
                                    </tr>
                                    <tr class="gradeX">
                                        <td>
                                            Jake
                                        </td>
                                        <td>
                                            <p  id="JakeBet">0</p>
                                        </td>
                                        <td>
                                            <p  id="JakeUser">0</p>
                                        </td>
                                        <td>
                                            <p>0</p>
                                        </td>
                                        <td>
                                            <input type="checkbox">
                                        </td>
                                    </tr>
                                    <tr class="gradeX">
                                        <td>
                                            10
                                        </td>
                                        <td>
                                            <p  id="10Bet">0</p>
                                        </td>
                                        <td>
                                            <p  id="10User">0</p>
                                        </td>
                                        <td>
                                            <p>0</p>
                                        </td>
                                        <td>
                                            <input type="checkbox">
                                        </td>
                                    </tr>
                                    <td>
                                        <button type="button" class="btn btn-success" onclick="saveSettings()">
                                            Submit
                                        </button>
                                    </td>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper --><%- include footer %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const socket = io('http://localhost:3070');
    
            socket.emit("livebets",{hii:"hii"})
            socket.emit("adminspot",{adminspot : 2})
            socket.on('livebets', function (data) {
                document.getElementById('aceBet').innerHTML = data.SpotZeroAmt;
                document.getElementById('aceUser').innerHTML = data.SpotZeroUser;
                document.getElementById('KingBet').innerHTML = data.SpotOneUser;
                document.getElementById('KingUser').innerHTML = data.SpotOneAmt;
                document.getElementById('QueenBet').innerHTML = data.SpotTwoAmt;
                document.getElementById('QueenUser').innerHTML = data.SpotTwoUser;
                document.getElementById('JakeBet').innerHTML = data.SpotThreeAmt;
                document.getElementById('JakeUser').innerHTML = data.SpotThreeUser;
                document.getElementById('10Bet').innerHTML = data.SpotFourAmt;
                document.getElementById('10User').innerHTML = data.SpotFourUser;
                console.log('Received response from socket server:', data);

            });
        });
    </script>
    <script>
        function saveSettings() {
    const checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
    let selectedSpot = 0;
    const socket = io('http://localhost:3070');
    const spotIndices = {
        Ace: 0,
        King: 1,
        Queen: 2,
        Jake: 3,
        "10": 4
    };

    if (checkboxes.length > 0) {
        const spotName = checkboxes[0].closest("tr").querySelector("td:first-child").textContent.trim();
        selectedSpot = spotIndices[spotName];
    }
console.log(selectedSpot);
    
    socket.emit("adminspot", { adminspot: selectedSpot });

    console.log('Selected spot value:', selectedSpot);
}

    </script>

    
        
    
